---

---

@charset "utf-8";


// define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

.experiences-section, .projects-section, .educations-section,
.summary-section .summary,
.honors-container .interests-list li {
    text-align: justify;
}

.projects-section ul , .experiences-section ul {
    padding-left: 1em; // adjust this as needed
    margin-left: 0; // remove margin on the left
}

.experiences-section li, .languages-container li, .honors-container li, .interests-container li {
    padding-left: 0; // remove padding on the left
    position: relative;
    &::before {
        content: '\2022'; // this is a bullet character
        position: absolute;
        left: -1em; // adjust this as needed
    }
}

.languages-container ul, .interests-container ul {
    padding-left: 1em; // adjust this as needed
    margin-left: 0; // remove margin on the left
    text-indent: 0; 
}


.honors-section ul {
    list-style-type: disc; // ensures bullets are shown
    padding-left: 1em; // adjust this as needed
    margin-left: 0; // remove margin on the left
    text-indent: 0; 
}


.address-line {
    text-indent: 1em;    /* Adjust this value to get the desired alignment */
    margin-left: 0;
}

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
