---

---

@charset "utf-8";


// define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}


.projects-section ul {
    list-style-type: disc; // ensures bullets are shown
    padding-left: 1em; // adjust this as needed
    margin-left: 0; // remove margin on the left
}

.projects-section li {
    padding-left: 0; // remove padding on the left
    position: relative;
    &::before {
        content: '\2022'; // this is a bullet character
        position: absolute;
        left: -1em; // adjust this as needed
    }
}

.experiences-section ul {
    list-style-type: disc; // ensures bullets are shown
    padding-left: 1em; // adjust this as needed
    margin-left: 4; // remove margin on the left
}

.experiences-section li {
    padding-left: 0; // remove padding on the left
    position: relative;
    &::before {
        content: '\2022'; // this is a bullet character
        position: absolute;
        left: -1em; // adjust this as needed
    }
}

.honors-section ul {
    list-style-type: disc; // ensures bullets are shown
    padding-left: 1em; // adjust this as needed
    margin-left: 0; // remove margin on the left
    text-indent: 0; 
}

.honors-container li {
    padding-left: 1em; // remove padding on the left
    position: relative;
    &::before {
        content: '\2022'; // this is a bullet character
        position: absolute;
        left: -0.5em; // adjust this as needed
    }
}


.address-line {
    text-indent: 1em;    /* Adjust this value to get the desired alignment */
    margin-left: 0;
}

@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
