@charset "utf-8";

// Define variable with front matter
{% if site.data.data.sidebar.position == 'left' %}
$resume-order: 2;
$sidebar-order: 1;
{% else %}
$resume-order: 1;
$sidebar-order: 2;
{% endif %}

// Text alignment
.experiences-section, .projects-section, .educations-section,
.summary-section .summary, 
.honors-container .interests-list li {
    text-align: justify;
}

// Bullet styling
.languages-container ul, .honors-section ul, .interests-container ul {
    list-style-type: disc;
    padding-left: 1em;
    margin-left: 0;
    text-indent: 0; 
}

.languages-container li, .honors-container li, .interests-container li {
    padding-left: 1em;
    position: relative;
    &::before {
        content: '\2022';
        position: absolute;
        left: -0.4em;
    }
}

// Other styles
.projects-section ul, .experiences-section ul {
    padding-left: 1em;
    margin-left: 0;
}

.experiences-section li {
    padding-left: 0;
    position: relative;
    &::before {
        content: '\2022';
        position: absolute;
        left: -1em;
    }
}

.address-line {
    text-indent: 1em;
    margin-left: 0;
}

// Imports
@import "skins/{{ site.theme_skin | default: 'blue' }}"; // skin
@import "default"; // main partials
